03 - Para adicionar elementos ao dicionário, não precisamos de uma função pronta (como o append das listas). 

Basta definir a nova chave como uma variável, e atribuir um novo valor a ela:

In [87]:
cadastro = {
    'nomes': ['Joãozinho', 'Mariazinha'],
    'idades': [32, 25],
    'cidades': ['Maua', 'Santo André'],
    'filhos': [0, 0],
    'alturas': [1.80, 1.65]
}

# Adicionando uma nova chave no dicionário `cadastro`
cadastro['pets'] = ['Bia', 'Luiza']

cadastro

{'nomes': ['Joãozinho', 'Mariazinha'],
 'idades': [32, 25],
 'cidades': ['Maua', 'Santo André'],
 'filhos': [0, 0],
 'alturas': [1.8, 1.65],
 'pets': ['Bia', 'Luiza']}

Adicione o par chave-valor "cor": "azul: no dicionário `carro` abaixo

In [88]:
carro = {
    'marca': "Toyota",
    'modelo': "Yaris",
    "ano": 1964
}
carro['cor'] = 'azul' # PREENCHA AQUI!

print(carro)

{'marca': 'Toyota', 'modelo': 'Yaris', 'ano': 1964, 'cor': 'azul'}

__Para apagar uma chave, utilize o "pop"__

In [89]:
pets = cadastro.pop('pets')

cadastro

{'nomes': ['Joãozinho', 'Mariazinha'],
 'idades': [32, 25],
 'cidades': ['Maua', 'Santo André'],
 'filhos': [0, 0],
 'alturas': [1.8, 1.65]}

__Ou, utilize o "del"__

In [90]:
cadastro['pets'] = pets
print(cadastro)
del cadastro['pets']
print('Dicionário após o `del`')
cadastro

{'nomes': ['Joãozinho', 'Mariazinha'], 'idades': [32, 25], 'cidades': ['Maua', 'Santo André'], 'filhos': [0, 0], 'alturas': [1.8, 1.65], 'pets': ['Bia', 'Luiza']}
Dicionário após o `del`

{'nomes': ['Joãozinho', 'Mariazinha'],
 'idades': [32, 25],
 'cidades': ['Maua', 'Santo André'],
 'filhos': [0, 0],
 'alturas': [1.8, 1.65]}

**Drops**

Remova o campo (chave) "modelo" do dicionário `carro` abaixo

In [91]:
carro = {
    'marca': "Toyota",
    'modelo': "Yaris",
    "ano": 1964
}
# carro.pop('modelo')
del carro['modelo']

print(carro)

{'marca': 'Toyota', 'ano': 1964}

Alterar os valores também é possível:

Posso também alterar elementos individuais dos valores, os indexando

(Lembre-se que, neste caso, os valores são listas! Então, devo indexá-las para alterar seus elementos!)

In [92]:
cadastro['cidades'] = ['Paris', 'Londres']
cadastro

{'nomes': ['Joãozinho', 'Mariazinha'],
 'idades': [32, 25],
 'cidades': ['Paris', 'Londres'],
 'filhos': [0, 0],
 'alturas': [1.8, 1.65]}

In [93]:
# Alteração indevida de valor
cadastro['cidades'] = 1
cadastro

{'nomes': ['Joãozinho', 'Mariazinha'],
 'idades': [32, 25],
 'cidades': 1,
 'filhos': [0, 0],
 'alturas': [1.8, 1.65]}

In [94]:
cadastro['cidades'] = ['Paris', 'Londres']
cadastro

{'nomes': ['Joãozinho', 'Mariazinha'],
 'idades': [32, 25],
 'cidades': ['Paris', 'Londres'],
 'filhos': [0, 0],
 'alturas': [1.8, 1.65]}

In [95]:
cadastro['cidades'][0] = 'São Paulo'
cadastro

{'nomes': ['Joãozinho', 'Mariazinha'],
 'idades': [32, 25],
 'cidades': ['São Paulo', 'Londres'],
 'filhos': [0, 0],
 'alturas': [1.8, 1.65]}

**Drops**

Modifique o ano de fabricação (campo `ano`) de 1964 para 2020 no dicionário abaixo

In [96]:
cadastro['trabalho'] = ('Dentista', 'Cientista de Dados')
cadastro

{'nomes': ['Joãozinho', 'Mariazinha'],
 'idades': [32, 25],
 'cidades': ['São Paulo', 'Londres'],
 'filhos': [0, 0],
 'alturas': [1.8, 1.65],
 'trabalho': ('Dentista', 'Cientista de Dados')}

In [97]:
cadastro['trabalho'] = ['Dentista', 'Cientista de Dados']
cadastro

{'nomes': ['Joãozinho', 'Mariazinha'],
 'idades': [32, 25],
 'cidades': ['São Paulo', 'Londres'],
 'filhos': [0, 0],
 'alturas': [1.8, 1.65],
 'trabalho': ['Dentista', 'Cientista de Dados']}

In [98]:
cadastro['nomes'].append('Fulano')
cadastro['idades'].append(22)
cadastro['cidades'].append('Rio')
cadastro['filhos'].append(3)
cadastro['alturas'].append(1.75)
cadastro['trabalho'].append('Engenheiro')
cadastro

{'nomes': ['Joãozinho', 'Mariazinha', 'Fulano'],
 'idades': [32, 25, 22],
 'cidades': ['São Paulo', 'Londres', 'Rio'],
 'filhos': [0, 0, 3],
 'alturas': [1.8, 1.65, 1.75],
 'trabalho': ['Dentista', 'Cientista de Dados', 'Engenheiro']}

In [99]:
nome, idade = cadastro['nomes'][1], cadastro['idades'][1]
print(nome, idade)

Mariazinha 25