### Aula 05

- Estruturas de Repetição
    - For
    - Range
- Listas
    - Criando listas
    - Acessando valores de uma lista
    - Mudando valores de uma lista
    - Adicionando elementos
    - Slicing 
    - Métodos/Funções
        - Max
        - Min
        - Pop
        - Split (string)
        - Sum
        - Sort - altera definitivamente a ordem
        - Sorted - altera tmeporariamente a ordem
    - Lista dentro de lista
- Exercícios

In [5]:
contador = 0

contador = contador + 1
contador = contador + 1
contador = contador + 1
contador = contador + 1
contador = contador + 1
contador = contador + 1
contador = contador + 1
contador = contador + 1
contador = contador + 1
contador = contador + 1

print(contador)

10

In [14]:
for i in range(-10,10,3):
    print(i)

-10
-7
-4
-1
2
5
8

In [12]:
# range(inicio, final, passos (steps))
range(-10,10,2)

range(-10, 10, 2)

In [1]:
contador = 0
contador_2 = 0

for i in range(0,10):
    contador = contador + 1
    contador_2 = contador_2 + i


print(contador)
print(contador_2)

10
45

In [22]:
nome = 'Teodor Henrique de Freitas Barczewski'

print(len(nome))

for i in range(len(nome)):
    print(f'Indice {i} - letra {nome[i]}')

37
Indice 0 - letra T
Indice 1 - letra e
Indice 2 - letra o
Indice 3 - letra d
Indice 4 - letra o
Indice 5 - letra r
Indice 6 - letra
Indice 7 - letra H
Indice 8 - letra e
Indice 9 - letra n
Indice 10 - letra r
Indice 11 - letra i
Indice 12 - letra q
Indice 13 - letra u
Indice 14 - letra e
Indice 15 - letra
Indice 16 - letra d
Indice 17 - letra e
Indice 18 - letra
Indice 19 - letra F
Indice 20 - letra r
Indice 21 - letra e
Indice 22 - letra i
Indice 23 - letra t
Indice 24 - letra a
Indice 25 - letra s
Indice 26 - letra
Indice 27 - letra B
Indice 28 - letra a
Indice 29 - letra r
Indice 30 - letra c
Indice 31 - letra z
Indice 32 - letra e
Indice 33 - letra w
Indice 34 - letra s
Indice 35 - letra k
Indice 36 - letra i

In [27]:
lista = ['Teo', 36, True, 10.5]
print(lista)

['Teo', 36, True, 10.5]

In [32]:
lista[4]

IndexError: list index out of range

In [39]:
print(lista[-1])
print(nome[-1])

10.5
i

In [45]:
# inicializar lista
nome = []

In [3]:

nome = input('Digite seu nome: ')

nome.append(nome) #append serve para adicionar itens em uma lista
print(nome)

Digite seu nome: nome

AttributeError: 'str' object has no attribute 'append'

In [4]:
# slicing alunos[start:end:step]
# start -> inclusivo (conto com ele)
# end -> exclusivo (não conta com ele no indice)
print(f'Lista inteira: {alunos}')

print(alunos[0:3]) # defino o inicio e fim do intervalo
print(alunos[:3]) # começa do 0 e vai até o fim definido
print(alunos[2:]) # começa do numero definido e vai até o final
print(alunos[:]) # vai do inicio ao fim, mesma coisa de não colocar nada
print(alunos) # igual o de cima
print(alunos[::2]) # defini o step e ele salta aquela quantidade
print(alunos[1::5]) # inicio definido, saltando 5
print(alunos[1:5:5]) # definindo um inicio e fim da lista, saltando 5
print(alunos[::-1]) # inverso sem fim definido
print(alunos[:2:-1]) # inverso, com o fim definido

NameError: name 'alunos' is not defined

In [76]:
# slicing alunos[start:end:step]
# start -> inclusivo (conto com ele)
# end -> exclusivo (não conta com ele no indice)
nome = 'Teodor Henrique de Freitas Barczewski'
print(f'Lista inteira: {nome}')

print(nome[0:3]) # defino o inicio e fim do intervalo
print(nome[:3]) # começa do 0 e vai até o fim definido
print(nome[2:]) # começa do numero definido e vai até o final
print(nome[:]) # vai do inicio ao fim, mesma coisa de não colocar nada
print(nome) # igual o de cima
print(nome[::2]) # defini o step e ele salta aquela quantidade
print(nome[1::5]) # inicio definido, saltando 5
print(nome[1:5:5]) # definindo um inicio e fim da lista, saltando 5
print(nome[::-1]) # inverso sem fim definido
print(nome[:2:-1]) # inverso, com o fim definido

Lista inteira: Teodor Henrique de Freitas Barczewski
Teo
Teo
odor Henrique de Freitas Barczewski
Teodor Henrique de Freitas Barczewski
Teodor Henrique de Freitas Barczewski
Too erqed ria acesi
e ide zi
e
ikswezcraB satierF ed euqirneH rodoeT
ikswezcraB satierF ed euqirneH rod

In [77]:
lista = ['Teo', 36, True, 10.5]
print(lista)

['Teo', 36, True, 10.5]

In [80]:
lista[1] = 100
print(lista)

['Teo', 100, True, 10.5]

    - Métodos/Funções
        - Max
        - Min
        - Pop
        - Split (string)
        - Sum
        - Sort - altera definitivamente a ordem
        - Sorted - altera tmeporariamente a ordem

In [84]:
lista = [1,4,7,3,2,6,1,2,7,4,6]

print(max(lista))
print(min(lista))

7
1

In [86]:
lista = [1,4,7,3,2,6,1,2,7,4,6]
print(lista)
lista.sort()
print(lista)

[1, 4, 7, 3, 2, 6, 1, 2, 7, 4, 6]
[1, 1, 2, 2, 3, 4, 4, 6, 6, 7, 7]

In [89]:
lista = [1,4,7,3,2,6,1,2,7,4,6]
print(lista)
print(sorted(lista))
print(lista)

[1, 4, 7, 3, 2, 6, 1, 2, 7, 4, 6]
[1, 1, 2, 2, 3, 4, 4, 6, 6, 7, 7]
[1, 4, 7, 3, 2, 6, 1, 2, 7, 4, 6]

In [91]:
notas = [10,2,6,3,1,6]
alunos = ['Julia', 'Teo', 'Elizabeth', 'Kaio', 'Ilmen', 'Guilherme']

In [92]:
print(f'A nota de {alunos[0]} é {notas[0]} ')

A nota de Julia é 10

In [93]:
for i in range(len(notas)):
    print(f'A nota de {alunos[i]} é {notas[i]} ')

A nota de Julia é 10
A nota de Teo é 2
A nota de Elizabeth é 6
A nota de Kaio é 3
A nota de Ilmen é 1
A nota de Guilherme é 6

In [96]:
lista = [1,4,7,3,2,6,1,2,7,4,6]
print(lista)
lista.reverse()
print(lista)

[1, 4, 7, 3, 2, 6, 1, 2, 7, 4, 6]
[6, 4, 7, 2, 1, 6, 2, 3, 7, 4, 1]

In [97]:
lista.index(7)

2

In [101]:
lista = list(range(5,10)) # estou criando uma lista de um tamanho especifico
print(lista)

[5, 6, 7, 8, 9]

In [102]:
int('10')

10

In [105]:
notas = [10,2,6,3,10,6]
alunos = ['Julia', 'Teo', 'Elizabeth', 'Kaio', 'Ilmen', 'Guilherme']

maior_nota = max(notas)
print(maior_nota)

for i in range(len(notas)):

    if notas[i] == maior_nota:
        print(f'O aluno {alunos[i]} tirou a maior nota')

10
O aluno Julia tirou a maior nota
O aluno Ilmen tirou a maior nota

In [108]:
notas = [8,2,6,3,10,6]
alunos = ['Julia', 'Teo', 'Elizabeth', 'Kaio', 'Ilmen', 'Guilherme']

maior_nota = max(notas)
print(maior_nota)
posicao = notas.index(maior_nota)
print(posicao)

print(f'O aluno {alunos[posicao]} tirou a nota {notas[posicao]}')

10
4
O aluno Ilmen tirou a nota 10

In [109]:
notas = [8,2,6,3,10,6]

print(sum(notas))

35

In [110]:
nome = 'Teodor Henrique de Freitas Barczewski'
lista = nome.split(' ')
print(lista)

['Teodor', 'Henrique', 'de', 'Freitas', 'Barczewski']

In [122]:
dados = input('Digite seu nome e idade e hobby separado por virgula: ')

lista_dados = (dados.split(','))
print(lista_dados)

['Teo', '  36    ']

In [119]:
email = '      teodorhfb@gmail.com        '

print(email.strip()) #strip - remove espaços em branco a esquerda e direita da variável
print(email.rstrip()) #rstrip - remove espaços em a direita da variável

teodorhfb@gmail.com
      teodorhfb@gmail.com

In [127]:
alunos = ['Julia', 'Paulo', 'Luana', 'Guilherme', 'Ilmen', 'Elizabeth', 'Guilherme']

print(alunos)

aluno_excluido = alunos.pop(0)

print(alunos)
print(aluno_excluido)

['Julia', 'Paulo', 'Luana', 'Guilherme', 'Ilmen', 'Elizabeth', 'Guilherme']
['Paulo', 'Luana', 'Guilherme', 'Ilmen', 'Elizabeth', 'Guilherme']
Julia

In [131]:
alunos = ['Julia', 'Paulo', 'Luana', 'Guilherme', 'Ilmen', 'Elizabeth', 'Guilherme']
print(alunos)
del(alunos[1])
print(alunos)
#print(removido)

['Julia', 'Paulo', 'Luana', 'Guilherme', 'Ilmen', 'Elizabeth', 'Guilherme']
['Julia', 'Luana', 'Guilherme', 'Ilmen', 'Elizabeth', 'Guilherme']

In [138]:
alunos = ['Julia', 'Paulo', 'Luana', 'Guilherme', 'Ilmen', 'Elizabeth', 'Guilherme']
notas = [2,6,7,4,3,2,8]

aprovados = []
reprovados = []

for i in range(len(alunos)):

    if notas[i] > 6:
        aprovados.append(f'{alunos[i]},{notas[i]}')
    else:
        reprovados.append(f'{alunos[i]},{notas[i]}')

print(f'Aprovados: {aprovados}')
print(f'Reprovados: {reprovados}')

Aprovados: ['Luana,7', 'Guilherme,8']
Reprovados: ['Julia,2', 'Paulo,6', 'Guilherme,4', 'Ilmen,3', 'Elizabeth,2']

In [141]:
alunos = ['Julia', 'Paulo', 'Luana', 'Guilherme', 'Ilmen', 'Elizabeth', 'Guilherme']

print(alunos)
alunos.insert(1, 'Júlia')
print(alunos)

['Julia', 'Paulo', 'Luana', 'Guilherme', 'Ilmen', 'Elizabeth', 'Guilherme']
['Julia', 'Júlia', 'Paulo', 'Luana', 'Guilherme', 'Ilmen', 'Elizabeth', 'Guilherme']

In [145]:
lista = ['Teo', 35, 10.5, False, ['Guilherme','Projeto Legal']]

for item in lista:
    print(type(item))

<class 'str'>
<class 'int'>
<class 'float'>
<class 'bool'>
<class 'list'>

In [147]:
notas = [ ['Teo', 10], ['Julia', 8], ['Gabriel', 9 ]]

print(notas)

[['Teo', 10], ['Julia', 8], ['Gabriel', 9, False]]

In [169]:
lista = ['Teo', 35, 10.5, False, ['Guilherme','Projeto Legal']]
print(lista[4][0])

Guilherme

For com índice
Teo
Julia
Gabriel


For com elemento:
Teo
Julia
Gabriel

In [168]:
notas = [ ['Teo', 10], ['Julia', 8], ['Gabriel', 9 ]]

print('For com índice: ')
for i in range(len(notas)):
    print(notas[i][0])


print('\n\nFor com elemento:')
for elemento in notas:
    print(elemento[0])

For com índice:
Teo
Julia
Gabriel


For com elemento:
Teo
Julia
Gabriel

In [170]:
lista = ['Teo', 10]
print(lista[0])
print(lista[1])

Teo
10

In [172]:
notas = [ ['Teo', 10], ['Julia', 8], ['Gabriel', 9 ]]

print(notas[0][0])

Teo

In [179]:
notas = [ ['Teo', 10], ['Julia', 8], ['Gabriel', 9 ]]

print('\n\nFor com elemento:')
for item in notas:
    print(item)

For com elemento:
['Teo', 10]
['Julia', 8]
['Gabriel', 9]

In [181]:
lista = [[['Teo',123],2], 1]
print(lista)

[[['Teo', 123], 2], 1]

In [184]:
matriz = [[1,0,0], [0,1,0], [0,0,1]]
#print(matriz)

for item in matriz:
    print(item)

[1, 0, 0]
[0, 1, 0]
[0, 0, 1]

### Exercícios

1 - Concatene duas listas pelo seu indice. Por exemplo, dado duas listas abaixo:

list1 = ["Me", "n", "", "Teodor "]

list2 = ["u", "ome", "é", "Henrique"]

o resultado esperado é

['Meu', 'nome', é, 'Teodor Henrique']

2 - Receba duas listas e faça um único for, onde o resultado da primeira lista deve ficar na ordem original e a segunda na ordem inversa:

Dado:
list1 = [10, 20, 30, 40]

list2 = [100, 200, 300, 400]

Resultado esperado:

10 400

20 300

30 200

40 100

3 - Faça um programa que peça para o usuário digitar o nome e a nota. O nome e a nota devem estar em um único input, e os valores digitados separados por , (por ex: teo,8).

O usuário deverá digitar pelo menos 3 nome/notas, e escrever PARE caso não queira digitar mais nome e notas. As duas condições tem que ser verdadeiras, ter ao menos 3 nome e só parar ao digitar PARE

Após a inclusão dos nome e notas, calcule a média, e mostre o nome dos nome que ficaram acima da média.

Regras:

a) As notas devem estar entre 0 e 10. Caso não estejam, exiba uma mensagem e peça para que seja digitado novamente

b) O nome do aluno deve ter pelo menos 3 caracteres. Caso não esteja, peça para ser digitado novamente

4 - Abaixo é definido um n-poligono. O objetivo é achar a area de um poligono dado n. Um 1-poligono é um quadrado com um tamanho 1. Um n-poligono é obtido pegando n-1-poligono e adicionado 1-poligonos a lateral, lado a lado. 

<img src=''>

Por exemplo:

- para um n=2, a saida deve ser 5
- para um n=3, a saida deve ser 13
- para um n=4, a saida deve ser 25

5- Dada a seguinte lista:
[['Teo', 20], ['Maria', 10], ['Rosana', 15],['Luana',18]]

Calcule a média e mostre apenas os nomes das pessoas abaixo da média