# 08 - Compreensão de listas usando `for` encadeados

In [1]:
l1 = [1,2,3,4,5,6]
l2 = [5, 6, 7]

for num1 in l1:
  for num2 in l2:
    print(num1, 'x', num2, '=', num1 * num2)

1 x 5 = 5
1 x 6 = 6
1 x 7 = 7
2 x 5 = 10
2 x 6 = 12
2 x 7 = 14
3 x 5 = 15
3 x 6 = 18
3 x 7 = 21
4 x 5 = 20
4 x 6 = 24
4 x 7 = 28
5 x 5 = 25
5 x 6 = 30
5 x 7 = 35
6 x 5 = 30
6 x 6 = 36
6 x 7 = 42

**como fazer a operação acima com compreensão de listas**

In [2]:
l1 = [1,2,3,4,5,6]
l2 = [5, 6, 7]

[
    (num1 * num2)
      for num1 in l1
      for num2 in l2
]

[5, 6, 7, 10, 12, 14, 15, 18, 21, 20, 24, 28, 25, 30, 35, 30, 36, 42]

In [3]:
for num1 in l1:
  for num2 in l2:
    print(num1 * num2)

5
6
7
10
12
14
15
18
21
20
24
28
25
30
35
30
36
42