### 03 - Crie um objeto DataFrame que contenha os dados da tabela abaixo, os quais se referem ao peso, altura e idade de cinco pessoas:

```
Peso (kg)	Altura (cm)	Idade
72	180	31
80	170	21
60	175	16
90	174	28
100	185	23
```
**Com base no DataFrame criado, realize o que pedido nos itens abaixo:

* (a) Visualize apenas os dados da coluna que contém a altura das pessoas.
* (b) Obtenha a idade média das pessoas.
* (c) Obtenha os dados das pessoas que estão abaixo da altura média.
* (d) Crie um nova coluna no DataFrame que contenha o IMC (Índice de Massa Corporal) de cada pessoa.
* (e) Remova a coluna que contém a idade das pessoas.
* (f) Salve esses dados do DataFrame em um arquivo csv.

In [26]:
import pandas as pd

dados = {'Peso (kg)': [72, 80, 60, 90, 100],
         'Altura (cm)': [180, 170, 175, 174, 185],
         'Idade': [31, 21, 16, 28, 23]}

df = pd.DataFrame(dados)

 # a
df['Altura (cm)']

0    180
1    170
2    175
3    174
4    185
Name: Altura (cm), dtype: int64

In [27]:
# b
df['Idade'].mean()

23.8

In [28]:
# c
print(df['Altura (cm)'].mean())

df[df['Altura (cm)'] < df['Altura (cm)'].mean()]

176.8

   Peso (kg)  Altura (cm)  Idade
1         80          170     21
2         60          175     16
3         90          174     28

In [29]:

 # d

IMC = df['Peso (kg)'] / (df['Altura (cm)'] / 100)**2

df['IMC'] = IMC
df['IMC']

0    22.222222
1    27.681661
2    19.591837
3    29.726516
4    29.218408
Name: IMC, dtype: float64

In [30]:

 # e

df.drop('Idade', axis=1, inplace=True)

In [32]:
# f

df.to_csv('01-peso-altura-imc.csv', index=False)